.formGroup {
  --form-control-space: 20px;
  margin-bottom: 20px;
}

:global .form-label {
  font-size: 14px;
  line-height: 28px;
  text-align: left;
  color: var(--text-shadowed-steel);
}

.formGroup :global .form-control {
  border-color: var(--cold-morning);
  width: 100%;
  min-height: 56px;
  border-radius: 3px;
  font-size: 16px;
  padding: 5px var(--form-control-space);
  transition: var(--transition-smooth);
}

.formGroup :global .form-control:focus,
.formGroup :global .form-control:hover,
.formGroup :global .form-control:focus-visible,
.formGroup :global .form-control:focus-within {
  border-color: var(--lemon-curry);
  box-shadow: none;
  outline: none;
  background-color: var(--sugar-milk);
}

.formGroup :global textarea.form-control {
  padding: 20px var(--form-control-space);
  resize: none;
}
/* resposnive css start */
@media (max-width: 767px) {
  .formGroup :global .form-control {
    min-height: 45px;
  }
}
/* resposnive css end */
